<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>./logs/matchconf-${byMinute}.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.kew.shs.dedupl.lucene.LuceneMatcher" level="debug"/>
  <logger name="org.kew.shs.dedupl.lucene.LuceneHandler" level="debug"/>
  <logger name="org.kew.shs.dedupl.lucene.LuceneUtils" level="debug"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
