<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false">

	<env-entry>
		<description>JNDI logging context, logback will look for logback-concepts-backbone.xml</description>
		<env-entry-name>logback/context-name</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>reconciliation-service</env-entry-value>
	</env-entry>

	<error-page>
		<location>/error</location>
	</error-page>

</web-app>
