<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback http://ch.qos.logback/xml/ns/logback/logback.xsd">
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%highlight(%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n)</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>trace</level>
		</filter>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>target/logs/webservice-${bySecond}.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.kew" level="debug" />
<!-- 	<logger name="org.kew.rmf.core.lucene.LuceneUtils" level="trace"/> -->
<!-- 	<logger name="org.kew.rmf.core.lucene.LuceneDataLoader" level="trace"/> -->

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
