<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback http://ch.qos.logback/xml/ns/logback/logback.xsd">
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>true</withJansi>
		<encoder>
			<pattern>%highlight(%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n)</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="stdout" />
	</root>
</configuration>
